<p-dialog [closable]="false" [(visible)]="visible" [modal]="true" [style]="{ width: '25rem'}">
  <ng-template #header>
    <div class="header">
      <h3>Cadastrar Aula</h3>
    </div>
  </ng-template>
  <form #formCadastrarAula="ngForm" (ngSubmit)="onSubmit()">
    <div class="cadastro_input">
      <p-floatlabel variant="on">
        <p-select required [options]="listaAlunos" [(ngModel)]="aula.aluno" optionLabel="nome" [filter]="true"
          [style]="{width: '100%'}" appendTo="body" filterBy="nome" [showClear]="true" inputId="aluno"
          class="w-full md:w-56" name="aluno">
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
              <div>{{ selectedOption.nome }}</div>
            </div>
          </ng-template>
          <ng-template let-aluno #item>
            <div class="flex items-center gap-2">
              <div>{{ aluno.nome }}</div>
            </div>
          </ng-template>
        </p-select>
        <label for="aluno">Aluno</label>
      </p-floatlabel>
      <div *ngIf="formCadastrarAula.controls['aluno']?.invalid && formCadastrarAula.controls['aluno']?.touched">
        <small>Este campo é obrigatório</small>
      </div>
    </div>
    <div class="cadastro_input">
      <p-floatlabel variant="on">
        <p-datepicker id="dataDaAula" [(ngModel)]="aula.data" required name="dataDaAula" dateFormat="dd/mm/yy"
          [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" autoZIndex="true" appendTo="body"
          [style]="{width: '100%'}" />
        <label class="calendar_label" for="dataDaAula">Data da aula</label>
      </p-floatlabel>
      <div
        *ngIf="formCadastrarAula.controls['dataDaAula']?.invalid && formCadastrarAula.controls['dataDaAula']?.touched">
        <small>Este campo é obrigatório</small>
      </div>
    </div>
    <div class="cadastro_input">
      <p-floatlabel variant="on">
        <p-datepicker required inputId="horarioDaAula" [(ngModel)]="aula.data" [timeOnly]="true" name="horarioDaAula"
          [style]="{width: '100%'}" appendTo="body" />
        <label class="calendar_label" for="horarioDaAula">Horário da aula</label>
      </p-floatlabel>
      <div
        *ngIf="formCadastrarAula.controls['horarioDaAula']?.invalid && formCadastrarAula.controls['horarioDaAula']?.touched">
        <small>Este campo é obrigatório</small>
      </div>
    </div>
    <div class="cadastro_input">
      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-select [(ngModel)]="reposicao" appendTo="body" inputId="on_label" [options]="tiposAula" optionLabel="tipo"
          [(ngModel)]="aula.reposicao" optionValue="valor" class="w-full" />
        <label for="on_label">Tipo de aula</label>
      </p-floatlabel>
    </div>
  </form>
  <ng-template #footer>
    <p-button label="Cancelar" [text]="true" severity="secondary" (click)="fecharJanela()" />
    <p-button label="Cadastrar" [outlined]="true" severity="primary" (click)="onSubmit()"
      [disabled]="formCadastrarAula.invalid" />
  </ng-template>
</p-dialog>
