.menu_lateral{
    position: fixed;
    top: 60px;
    left: 0;
    width: 230px;
    height: calc(100vh - 60px);
    z-index: 999;
}

::ng-deep .menu_lateral .p-menu{
    width: 200px;
    height: 100%;
}

::ng-deep .menu_lateral .p-menu-item-content{
    display: flex;
    height: 46px;
}

::ng-deep .menu_lateral .p-menu-item-content a{
    width: 90%;
}

.item_menu{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    text-decoration: none;
}