.input-atividade {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}


.bt-download {
  display: flex;
  align-content: center;
  justify-content: center;
}

.bt-download p-button {
  margin: auto;
}

.dropdown-atividade {
  flex-grow: 1;
  flex-basis: auto;
  align-self: stretch;
  width: 100%;
  margin: 14px 5px 14px 0px;
}

.dropdown-materia {
  flex-grow: 1;
  flex-basis: auto;
  align-self: stretch;
  width: 100%;
  margin: 14px 5px 14px 0px;
}

.text-area-observacoes{
  flex-grow: 1;
  flex-basis: auto;
  align-self: stretch;
  width: 100%;
  margin: 14px 5px 14px 0px;
}

label {
  z-index: 100;
}

.container-observacoes {
  margin: 14px 5px 14px 0px;
  width: 100%;
}

.container-form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.container-acoes {
   width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.arquivo-ausente {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.container-inputs{
  width: 50%;
}

.container-preview-file{
  display: flex;
  width: 50%;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.detalhar_atividade_empty{
  padding: 12px;
}

.detalhar_atividade_selected{
    padding: 12px;
}