<p-dialog header="Lançar Atividade" [(visible)]="visible" resizable="false" [modal]="true"
  [style]="{ width: ' 800px', heigth: '700px' }" [closable]="false">
  <div class="container">
    <div class="container-form">
      <div class="input-atividade">
        <p-floatlabel variant="on" class="dropdown-atividade">
          <label for="atividade">Atividade</label>
          <p-select id="atividade" [options]="grupoAtividades" [group]="true" [(ngModel)]="atividadeSelecionada"
            (onChange)="escolherAtividade()" optionLabel="label"  [showClear]="true" [filter]="true" (onClear)="limparEscolha()"
            [style]="{width: '100%'}">
            <ng-template let-group #group>
              <div class="flex items-center">
                <span>{{ group.label }}</span>
              </div>
            </ng-template>
            <ng-template let-atividade pTemplate="item">
              {{atividade.label}}
            </ng-template>
              <ng-template let-atividade pTemplate="selectedItem">
              {{ atividade.label }}
            </ng-template>
          </p-select>
        </p-floatlabel>
      </div>
      <div class="input-atividade" *ngIf="isImagem">
        <p-floatlabel variant="on" class="dropdown-atividade">
          <label for="atividade2">Selecione uma segunda imagem (Opcional)</label>
          <p-select id="atividade2" [options]="atividades" [(ngModel)]="atividadeSelecionada2"
            (onChange)="escolherAtividade2()" optionLabel="`atividade.codigo`" [showClear]="true" [filter]="true"
            (onClear)="limparEscolha()" [style]="{width: '100%'}">
            <ng-template let-group #group>
              <div class="flex items-center">
                <span>{{ group.label }}</span>
              </div>
            </ng-template>
            <ng-template let-atividade pTemplate="item">
              {{ atividade.nome_materia }} - {{ atividade.codigo }}
            </ng-template>
            <ng-template let-atividade pTemplate="selectedItem">
              {{ atividade.nome_materia }} - {{ atividade.codigo }}
            </ng-template>
          </p-select>
        </p-floatlabel>
      </div>
      <div class="container-observacoes" style="margin-bottom: 14px;">
        <p-floatlabel variant="on">
          <label for="observacoes">Observações</label>
          <textarea id="observacoes" [(ngModel)]="observacoes"></textarea>
        </p-floatlabel>
      </div>
      <label>Detalhes do arquivo</label>

      <div class="container-iframe">
        <!-- <iframe [(src)]="urlArquivo" *ngIf="urlArquivo">
        </iframe>
        <div *ngIf="!urlArquivo" class="arquivo-ausente">
          <label>Selecione a atividade e clique em "Apresentar"</label>
        </div> -->

        <app-visualizar-arquivo *ngIf="atividadeSelecionada?.url" [fileUrl]="urlArquivoSelecionado"
          [imageUrls]="imagensSelecionadas">

        </app-visualizar-arquivo>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="container-acoes">
        <p-button label="Fechar" icon="pi pi-times" severity="secondary" (onClick)="fechar()"></p-button>
        <p-button label="Salvar" icon="pi pi-save" (onClick)="salvar()" [disabled]="!atividadeSelecionada"></p-button>
      </div>
    </ng-template>
  </div>
</p-dialog>
