*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela_sistema{
    width: 100%;
}

.menu_bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #baeaff;
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 988;
}

.menu_bar nav{
    display: flex;
    width: 100%;
    align-items: center;
}

.btn-sair{
    margin-left: auto;
}

.container{
    width: 100%;
}
.container_conteudo{
    margin-top: 76px;
    padding-top: 16px;
    padding: 24px;
    display: flex;
    justify-content: center;
}