<div class="tela_sistema">

    <app-menu-lateral
        *ngIf="menuLateral"
        class="menu_lateral">
    </app-menu-lateral>

    <div class="container">
        <div class="menu_bar">
            <nav>
                <p-button
                    icon="pi pi-bars"
                    (click)="menuToggle()">
                </p-button>

                <p-button
                    class="btn-sair"
                    icon="pi pi-sign-out"
                    label="Sair"
                    (click)="logout()">
                </p-button>
            </nav>
        </div>
        <div class="container_conteudo">
            <p-toast></p-toast>
            <router-outlet></router-outlet>
        </div>

    </div>

</div>