<div class="container-preview">

  <iframe
    *ngIf="isPDF && safePdfUrl"
     [src]="safePdfUrl"
    width="100%"
    height="600px">
  </iframe>

  <div *ngIf="isImage">

    <div *ngFor="let image of imageUrls">
      <img
        [src]="image"
        width="200">
    </div>

    <p-dropdown
      [options]="orientacoes"
      [(ngModel)]="orientacaoSelecionada"
      optionLabel="label"
      optionValue="value">
    </p-dropdown>

    <p-button
      label="Gerar PDF"
      (onClick)="gerarPdfComImagens()">
    </p-button>

  </div>

</div>
