
.editor-atividade-container{
  width: 100%;
   height: 100%;
}
.canvas{
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: rgb(255, 255, 255);
}

.elemento {
  position: absolute;
}

.elemento img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.elemento.selecionado {
  border: 2px solid #3b82f6;
}

.acoes {
  position: absolute;
  top: -30px;
  right: 0;
  display: flex;
  gap: 5px;
}

.acoes button {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
}