<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }" [closable]="false" draggable="false">
  <ng-template #header>
    <div class="container-avatar">
      <p-avatar [label]=aluno.iniciais styleClass="mr-2"
        [ngClass]="{ 'list_sexo_m': aluno.sexo === 'M', 'list_sexo_f': aluno.sexo === 'F' }" shape="circle"
        size="xlarge" />
    </div>
    <div class="item_labels">
      <h3 class="list_principal_nome">{{ aluno?.nome }}</h3>
      <div>
        <i class="pi pi-calendar" style="font-size: 1rem"></i>
        <span>{{data_aula | date:'dd/MM/yyyy HH:mm'}}</span>
      </div>
      <div class="container-actions">

        <p-button icon="pi pi-file-check" [rounded]="true" [text]="true" size="small" label="Atividade" severity="secondary"></p-button>
        <p-button icon="pi pi-comment" [rounded]="true" [text]="true" size="small" label="Comentar" severity="secondary" />
        <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"  label="Cancelar" size="small" />


      </div>
    </div>


  </ng-template>
  <div class="body-card">
    <label class="subtitle">Dias das aulas do aluno:</label>
    <div class="list_dias_semana">
      <div class="list_dias">
        <p-chip class="item_list_chip" *ngFor="let chip of contrato?.diasDasAulas">
          <a>{{descricaoAmigavelDias[chip.diaSemana].toString().slice(0,3)}}. {{chip.horario.slice(0,5).toString()}}</a>
        </p-chip>
      </div>
    </div>
  </div>
  <p-divider />
  <label class="subtitle"> Últimas atividades: </label>
  <div class="container-itens-historico-atividade">
    <div class="container-ultimas-atividades" *ngFor="let item of historicoAtividade">
      <span class="atividade-codigo"> {{item.codigo_atividade}}</span>
      <span class="atividade-descricao"> {{item.descricao}}</span>
      <span class="atividade-data">{{item.data_criacao}}</span>
    </div>
  </div>

  <p-divider />
  <div class="cadastro_botoes">
    <p-button label="Fechar" severity="secondary" class="w-full" [outlined]="true" (onClick)="fecharJanela()"
      styleClass="w-full" />
  </div>
</p-dialog>
