<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }" [closable]="false" draggable="false" resizable="false">
  <ng-template #header>
    <div class="container-avatar">
      <p-avatar [label]=aluno?.iniciais styleClass="mr-2"
        [ngClass]="{ 'list_sexo_m': aluno?.sexo === 'M', 'list_sexo_f': aluno?.sexo === 'F' }" shape="circle"
        size="xlarge" />
    </div>
    <div class="item_labels">
      <h3 class="list_principal_nome">{{ aluno?.nome }}</h3>
      <div>
        <i class="pi pi-calendar" style="font-size: 1rem"></i>
        <span>{{data_aula | date:'dd/MM/yyyy HH:mm'}}</span>
      </div>
      <div class="container-actions">
        <p-button icon="pi pi-comment" [rounded]="false" [outlined]="true" [text]="true" size="small" label="Comentar"
          severity="secondary" />
        <p-button icon="pi pi-times" [rounded]="false" [outlined]="true" [text]="true" severity="danger" (onClick)="cancelarAula()"
          label="Cancelar" size="small" />
      </div>
    </div>


  </ng-template>
  <div class="body-card">
    <label class="subtitle">Dias das aulas do aluno:</label>
    <div class="list_dias_semana">
      <div class="list_dias">
        <p-chip class="item_list_chip" *ngFor="let chip of contrato?.diasDasAulas">
          <a>{{descricaoAmigavelDias[chip.diaSemana].toString().slice(0,3)}}. {{chip.horario.slice(0,5).toString()}}</a>
        </p-chip>
      </div>
    </div>
  </div>
  <p-divider />
  <label class="subtitle"> Últimas atividades: </label>
  <div class="container-timelime">
    <div class="item-timeline" *ngFor="let item of historicoAtividade">
      <div class="item-line">
        <div class="item-marker">
         <i class="pi pi-file-check" style="font-size: 1rem"></i>
        </div>
        <div class="item-divider">
        </div>
      </div>
      <div class="container-content">
        <div class="timeline-title">
          {{item.data_criacao | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div class="timeline-content">
          <p-card >
            <span class="content-title" >{{item.codigo_atividade}}</span>
            <p class="content-description">{{item.descricao}}</p>


          </p-card>
        </div>
      </div>
    </div>
  </div>
      <div class="atividade-options">
      <p-button icon="pi pi-file-check" [rounded]="false" [text]="true" size="small" label="Lançar atividade"
        severity="secondary" (onClick)="abrirLancarAtividade()"></p-button>
    </div>


  <p-divider />
  <div class="cadastro_botoes">
    <p-button label="Fechar" severity="secondary" class="w-full" [outlined]="true" (onClick)="fecharJanela()"
      styleClass="w-full" />
  </div>
</p-dialog>

<p-toast />
<p-confirmdialog />

<app-lancar-atividade [(visible)]="apresentarLancarAtividade"  [id_aluno]="id_aluno" [id_aula]="id_aula"></app-lancar-atividade>